.make-tiny {
    .form-group-search {
        &.with-alias {
            display: inline-block;
            width: 400px;
            // display: none;

            input[type="text"] {
                width:100%;
            }
        }

        .alias {
            display: inline-block;
            position: relative;
            width: 100%;
            margin-top: 15px;
            label {
                position: absolute;
                line-height: 40px;
                font-size: 12px;
                left: 10px;
                user-select: none;
            }
            input[type="text"] {
                padding-left: 111px;
                width: calc(100% - 105px);
            }
        }
    }
}