.header {
    position: relative;
    background-color: transparent;
    max-height: 50px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .mv-nav-bar-right {
        float: right;
    }
    .mu-nav-bar {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
      
        li {
            float: left;

            a {
                display: block;
                color: $white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            a:hover, a.active {
                color: $off-white;
                text-decoration: underline;
            }
        }  
    }
}