.make-tiny {
    text-align: center;

    h1 {
        font-size: 45px;
        margin: 70px 0 40px 0;
        color: $white;
    }

    input[type="text"] {
        line-height: 40px;
        padding: 0 15px;
        font-size: 14px;
        height: 40px;
        border: 1px solid #404040;
    }

    .custom-text {
        font-size: 14px;
        margin-top: 15px;
        color: $white;
    }

    .form-group-search {
        display: inline-block;
        width: 400px;

        input[type="text"] {
            float: left;
            width: calc(100% - 90px);
        }

        button {
            height: 40px;
            width: 90px;
            float: right;
        }

        .error-msg {
            width: 100%;
            text-align: left;
            float: left;
            background-color: $red;
            border: 1px solid $black;
            border-radius: 5px;
            margin-top: 5px;
            padding: 5px 7px;
            color: $white;
        }
    }
}
