/* Global Colors */

$black: #24292a;
$off-black: #2d3335;
$white: #fff;
$off-white: #f5f5f5;

$blue: #19224f;
$soft-blue: #3a488a;
$green: #218022;
$red: #b83a3a;
$soft-red: #ff7070;
$gray: #8c8e91;
$soft-gray: #f2f2f2;
$warning: #FEEFB3;

$primary: $blue;
$soft-primary: $soft-blue;
